<h2 class="talk-title">{{model.title}}</h2>
<div class="talk-content row">
  {{#each section in model.content}}  
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <p>{{section}}</p>
    </div>
  {{/each}}
</div>
{{outlet}}
