<div class="jumbotron">
  <h1>Welcome to Awesome Talks!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, corporis, dolores? Cum nulla maiores est. Esse ut eius aliquam, nesciunt sapiente, totam voluptas, iusto molestiae eos sed quia officiis. Aspernatur!</p>
  <p>
    {{#link-to 'talk.add' class="btn btn-primary btn-lg"}}
      Add New Talk
    {{/link-to}}
  </p>
</div>
{{outlet}}