<form {{action 'login' username on='submit'}}>
  <div class="form-group">
    <label for="input-username">Username</label>
    {{input type="text" id="input-username" class="form-control" value=username}}
  </div>
  <input type="submit" value="Login" class="btn btn-default"/>
</form>
{{yield}}
